<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xml:lang="es" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Formato de medici&oacute;n de heuristicas</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="formato_de_medicin_de_heuristicas">
<meta name="uma.presentationName" content="Formato de medici&oacute;n de heuristicas">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_BOkHkP73EeuAstdRsIz2dw"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Formato de medici&oacute;n de heuristicas</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">Formato explicativo para la medición de heurísticas</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../Nivel_basico/workproducts/reporte_heuristicas_D4DD2C09.html" guid="__YTIcP_FEeuoT-Lv1ffyUw">Reporte heuristicas</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><P>El formato contiene una plantilla con el listado de las heurísticas a validar en encuesta, se evalúan Dimensiones de Usabilidad, Experiencia de aprendizaje, Experiencia de juego y fidelidad. La lista de heurísticas fue adaptada de las propuestas de Moizer et al. (2019) y de Xuan et al. (2018). <?xml:namespace prefix = "o" ns = "urn:schemas-microsoft-com:office:office" /><o:p></o:p></P>
<P>Moizer, J., Lean, J., Dell’Aqiila. E., Walsh, P., Keary, A., O’Byrne, D., Di Fernando, A., Miglino, O., Friedrich, R., Asperges, R. & Sica, L. (2019). An approach to evaluating the user experience of serious game. Computers & Education. Recuperado de <a href="https://doi.org/10.1016/j.compedu.2019.04.006">https://doi.org/10.1016/j.compedu.2019.04.006</a> <o:p></o:p></P>
<P>Xuan, R., Zhen, K. & Yi-Lwern, K. (2018) Herbopolis – A mobile serious game to educate players on herbal medicines. Complementary therapies in medicine. Recuperado de <a href="https://doi.org/10.1016/j.ctim.2018.05.004">https://doi.org/10.1016/j.ctim.2018.05.004</a></P></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../Nivel_basico/guidances/templates/resources/Heuristicas.docx" target="_blank">Heuristicas.docx</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
